<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <title>{{ page.title | ethics: site.title }}</title>
</head>
<body>
    <header>
        <nav>
            <div id="logo">Sarmad Bukhari</div>
        <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="ethics.html">Ethics</a></li>
            <li><a href="#">About Us</a>
            <li><a href="#">Contact Us</a>
            </li>
        </ul>
        <input type="text" id="search-bar" placeholder="Search...">
        <button id="join-now">Join Now</button>
        </nav>
    </header>
    <main>
        <div class="it-ethics-intro">
            <h1>A Synopsis of IT Ethics</h1>
            <p>Information technology (IT) ethics is about using technology responsibly to protect people, businesses, and society as a whole. It includes things like security, privacy, openness, and how new technologies will affect different stakeholders.</p>
            <p>Understanding and upholding IT ethics is critical to creating a digital environment that values fairness, respect, and trust in the face of the continued importance of technology in our daily lives.

</p>
        </div>

        <section>
            <h1>Connect with us</h1>
            <div class="card">
                <h2>Get Involved</h2>
                <p>Join a our community</p>
                <button>LEARN MORE</button>
            </div>
            <div class="card">
                <h2></h2>Grow Your Connections
                <p>Participate in virtual meetings and events</p>
                <button>LEARN MORE</button>
            </div>
            <div class="card">
                <h2>Industrial Leverage</h2>
                <p>Stay ahead of the curve </p>
                <button>LEARN MORE</button>
            </div>
        </section>      
    </main>
</body>
</html>
