<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <title>{{ page.title | default: site.title }}</title>
</head>
<body>
    <header>
        <nav>
            <div id="logo">Sarmad Bukhari</div>
        <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/ethics/' | relative_url }}">Ethics</a></li>
            <li><a href="#">About Us</a>
            <li><a href="#">Contact Us</a>
            </li>
        </ul>
        <input type="text" id="search-bar" placeholder="Search...">
        <button id="join-now">Join Now</button>
        </nav>
    </header>
    <main>
        <div class="main-content">
            <h1> Most Issues In Technology</h1>
            <p class="main-heading">There is no denying that ethics are popular in the corporate sector. 
                Our perception of businesses is influenced by ethical considerations related to how we handle 
                people, handle information, interact with staff, manage resources, approach 
                sustainability, and effect the environment. In actuality, improper behavior toward individuals 
                and the communities in which we reside is frequently scrutinized and has the power to determine 
                whether a corporation succeeds or fails. For this reason, companies—including software 
                behemoths like Microsoft—often aim for moral decision-making and behavior.</p>
            
            <!-- Subheading -->
            <h2 class="sub-heading">The Most Vital Ethical Concerns in Technology</h2>
            
            <!-- Paragraphs -->
            <p class="main-paragraph">Businesses nowadays face a number of moral difficulties. We must make important choices to guarantee that we are preserving individual liberties and making the right use of data. Which moral dilemmas will be most crucial in 2023? The top five are listed here.</p>

    
            <h3 class="sub-heading">Abuse of Private Data</h3>
            <p class="sub-paragraph">One of the main moral conundrums in our era of technical empowerment concerns the exploitation of personal data by businesses. We frequently divulge personal information when we use the internet to explore websites, shop online, enter information on websites, interact with various businesses online, and use social media. Businesses frequently collect data in order to hyper-personalize our internet experiences, but how much does such data actually violate our right to privacy?

                As they say, "personal information is the new gold." Data has become a commodity due to the benefits it offers companies looking to expand their customer base. So when does it cross a line? Knowing what kinds of products and information consumers are searching for is really beneficial for businesses.Politicians should be aware of the social and legal issues that are attracting the greatest attention. These important data points are frequently used for financial gain or other purposes by organizations. Particularly Facebook has faced criticism on numerous occasions over the years for selling the personal information it collects on its users.
                </p>
    
            <h3 class="sub-heading">False information and deepfakes</h3>
            <p class="sub-paragraph">The potential for misinformation to gain wider support became evident during the 2016 and 2020 US presidential elections. The result has resulted in polarization, which has had a wide range of impacts on the global economic and political environment. In contrast to how information was accessed prior to the internet, we are constantly flooded with real-time events and news as it breaks.Without fact-checking, celebrities and public figures can share opinions on social media, which are then compiled and shared regardless of how accurate or inaccurate they may be. The rigorous validation process that was once required to publish newspapers and books is no longer applied to information.

            In a similar vein, we once thought that a video told a story that was unquestionably true. However, deepfake technology now makes it possible to manipulate digital imagery so skillfully that it appears as though people are saying and acting in ways that never were. The use of this technology carries a very high risk of identity theft and privacy invasion.</p>
        </div>
    </main>
</body>
